
.loginForm {
    font-family: 'Verdana';
    background-color: lightblue;
    max-width: max-content;
}

.loginForm {
    border-top-left-radius: 25px;
    border-radius: 25px;
    border: 2px;
    box-shadow: 7px 7px 7px;
    padding: 10px;
    
}

.formGroup {
    padding: 10px;
}

.loginButton {
    background-color: aliceblue;
    border-radius: 25px;
    border: 10px;
    padding: 10px;
    box-shadow: 7px 7px 7px;
    align-self: flex-start;
    width: auto;
    align-self: center;
    font-weight: bold;
}

    .loginButton:hover {
        background-color: steelblue;
    }
   


