/*Jeg ved denne css skal være i vores wwwroot, men jeg kunne ikke lige huske hvordan man gjorde :o)*/

/*All Schemas*/
.allSchemas {
    background-color: steelblue;
    max-width: max-content;
    font-family: 'Verdana';
}
.allSchemas {
    display: flex;
    gap: 30px;

}
.allSchemas {
    border-radius: 20px;
    border: 5px;
    padding: 30px;
    box-sizing:content-box;
    
}
/*Individual Schemas*/
.individualSchemas {
    background-color: aliceblue;
    border-top-left-radius: 7px;
    border-radius: 7px;
    border: 2px;
    box-shadow: 5px 5px 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


/*Table formatting*/
td {
    width: 150px;
    text-align: center;
}
th {
    background-color: lightblue;
    text-align: center;
    padding: 5px;
}
tr {
    text-align: center;
    padding: 5px;
}

.Name {
    background-color: transparent;
}
.trafficRed{
    background-color:red;
    color: white;
    
}
.trafficYellow {
    background-color: yellow;
}
.trafficGreen {
    background-color: green;
    color: white;
}
/*Buttons*/
.addSchemaButton {
    background-color: aliceblue;
    border-radius: 10px;
    border: 10px;
    padding: 10px;
    /*box-shadow: 7px 7px 7px;*/
    align-self: flex-start;
    width: auto;
    align-self:center;
    font-size: 20px;
    font-weight:bold;
}
.addSchemaButton:hover {
        background-color: lightblue;
       
    }

